Repository flext-sh/flext-quality: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock-check

poetry-check:
  name: ğŸ“¦ Validate Poetry configuration
  entry: poetry check
  language: system
  pass_filenames: false

poetry-lock-check:
  name: ğŸ”’ Check Poetry lock file
  entry: poetry lock --check
  language: system
  pass_filenames: false

feat: update flext-quality to real poetry.lock versions - final batch
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  Dockerfile.new
  LOGGING_MIGRATION.md
  Makefile
  manage.py
  poetry.lock
  pyproject.toml.backup.20250619_210432
  reports/bandit.json
  reports/pytest.xml
  reports/security.json
  requirements.txt
  scripts/manage.py
  src/flext_quality/analyzer.py
  src/flext_quality/application/services.py
  src/flext_quality/cli_new.py
  src/flext_quality/config.py
  src/flext_quality/domain/__init__.py
  src/flext_quality/domain/entities.py
  src/flext_quality/domain/ports.py
  src/flext_quality/domain/value_objects.py
  src/flext_quality/infrastructure/config.py
  src/flext_quality/infrastructure/container.py
  src/flext_quality/reports_broken.py
  src/flext_quality/simple_api.py
  tests/conftest.py.broken
  tests/test_basic.py
Due: poetry-lock-check

feat: update flext-quality to real poetry.lock versions - final batch
  .gitignore
  .pre-commit-config.yaml
  CLAUDE.md
  Dockerfile.new
  LOGGING_MIGRATION.md
  Makefile
  poetry.lock
  pyproject.toml.backup.20250619_210432
  reports/bandit.json
  reports/pytest.xml
  reports/security.json
  requirements.txt
  scripts/manage.py
  src/dc_code_analyzer/__pycache__/__init__.cpython-313.pyc
  src/dc_code_analyzer/__pycache__/__version__.cpython-313.pyc
  src/flext_quality/analyzer.py
  src/flext_quality/application/services.py
  src/flext_quality/cli_new.py
  src/flext_quality/config.py
  src/flext_quality/domain/__init__.py
  src/flext_quality/domain/entities.py
  src/flext_quality/domain/ports.py
  src/flext_quality/domain/value_objects.py
  src/flext_quality/infrastructure/config.py
  src/flext_quality/infrastructure/container.py
  src/flext_quality/reports_broken.py
  src/flext_quality/simple_api.py
  tests/__pycache__/__init__.cpython-313.pyc
  tests/__pycache__/test_settings.cpython-313.pyc
  tests/conftest.py.broken
  tests/e2e/__pycache__/__init__.cpython-313.pyc
  tests/integration/__pycache__/__init__.cpython-313.pyc
  tests/test_basic.py
  tests/unit/__pycache__/__init__.cpython-313.pyc
Due: poetry-lock-check

feat: FINAL SYNC flext-quality - all pending changes synchronized
  analyzer/analysis_engine.py
  analyzer/apps.py
  analyzer/backends/base.py
  analyzer/cli.py
  analyzer/health.py
  analyzer/management/commands/populate_backends.py
  analyzer/migrations/0001_initial.py
  analyzer/models.py
  analyzer/multi_backend_analyzer.py
  analyzer/report_generator.py
  analyzer/views.py
  code_analyzer_web/settings.py
  dashboard/apps.py
  dashboard/views.py
  src/flext_quality/config.py
  src/flext_quality/domain/entities.py
  src/flext_quality/domain/value_objects.py
  src/flext_quality/infrastructure/config.py
  src/flext_quality/infrastructure/container.py
  src/flext_quality/metrics.py
  src/flext_quality/reports.py
  src/flext_quality/simple_api.py
  tests/test_basic.py
Due: none

chore: Move CLAUDE.md to archive/ai-generated
  analyzer/admin.py
  archive/ai-generated/CLAUDE.md
Due: none

chore(flext-quality): Clean cache directories
  src/flext_quality/config.py
  src/flext_quality/domain/entities.py
  src/flext_quality/domain/value_objects.py
  src/flext_quality/infrastructure/config.py
  src/flext_quality/infrastructure/container.py
  src/flext_quality/metrics.py
  src/flext_quality/reports.py
  src/flext_quality/simple_api.py
  tests/test_flext_quality.py
Due: none

fix: remove invalid --no-update argument from poetry-lock hook
  .pre-commit-config.yaml
  .secrets.baseline
  Makefile
  analyzer/backends/external_backend.py
  analyzer/health.py
  analyzer/models.py
  analyzer/multi_backend_analyzer.py
  code_analyzer_web/celery.py
  pyproject.toml
  src/flext_quality/__version__.py
  src/flext_quality/cli.py
  src/flext_quality/config.py
  src/flext_quality/domain/ports.py
  src/flext_quality/infrastructure/config.py
  src/flext_quality/infrastructure/container.py
  tests/conftest.py
Due: poetry-check, poetry-lock-check

fix: update pre-commit config and project dependencies
  Makefile
Due: none

feat: complete architectural refactoring and cleanup
  .gitignore
  analyzer/views.py
  code_analyzer_web/celery.py
  code_analyzer_web/urls.py
  dashboard/templatetags/dashboard_extras.py
  poetry.lock
  src/flext_quality/__init__.py
  src/flext_quality/application/handlers.py
  src/flext_quality/application/services.py
  src/flext_quality/cli.py
  src/flext_quality/config.py
  src/flext_quality/domain/ports.py
  src/flext_quality/infrastructure/config.py
  src/flext_quality/infrastructure/container.py
  src/flext_quality/simple_api.py
  tests/conftest.py
Due: poetry-lock-check

chore: organize repository files and update configurations
  .pre-commit-config.yaml
  README.md
  analyzer/admin.py
  analyzer/package_discovery.py
  analyzer/views.py
  code_analyzer_web/celery.py
  code_analyzer_web/urls.py
  poetry.lock
  pyproject.toml
  scripts/README.md
  src/flext_quality/__init__.py
  src/flext_quality/__version__.py
  src/flext_quality/application/handlers.py
  src/flext_quality/application/services.py
  src/flext_quality/cli.py
  src/flext_quality/domain/entities.py
  src/flext_quality/domain/ports.py
  src/flext_quality/domain/value_objects.py
  src/flext_quality/infrastructure/__init__.py
  src/flext_quality/infrastructure/config.py
  src/flext_quality/infrastructure/container.py
  src/flext_quality/infrastructure/di_container.py
  src/flext_quality/metrics.py
  src/flext_quality/simple_api.py
  staticfiles/admin/css/vendor/select2/LICENSE-SELECT2.md
  staticfiles/admin/js/vendor/select2/LICENSE.md
Due: poetry-check, poetry-lock-check

reorg all
  .cache/wms_cache.db
  .gitignore
  Makefile
  analyzer/admin.py
  analyzer/analysis_engine.py
  analyzer/backends/base.py
  analyzer/models.py
  analyzer/multi_backend_analyzer.py
  analyzer/package_discovery.py
  analyzer/report_generator.py
  analyzer/signals.py
  analyzer/views.py
  dashboard/views.py
  poetry.lock
  pyproject.toml
  src/flext_quality/__init__.py
  src/flext_quality/__version__.py
  src/flext_quality/analyzer.py
  src/flext_quality/application/handlers.py
  src/flext_quality/application/services.py
  src/flext_quality/cli.py
  src/flext_quality/domain/entities.py
  src/flext_quality/domain/ports.py
  src/flext_quality/domain/value_objects.py
  src/flext_quality/infrastructure/config.py
  src/flext_quality/infrastructure/container.py
  src/flext_quality/infrastructure/di_container.py
  src/flext_quality/metrics.py
  src/flext_quality/simple_api.py
  tests/conftest.py
Due: poetry-check, poetry-lock-check

refactor: modernize flext-quality codebase structure
  analyzer/backends/base.py
  analyzer/management/commands/populate_backends.py
  analyzer/models.py
  analyzer/signals.py
  analyzer/views.py
  dashboard/templatetags/dashboard_extras.py
  dashboard/views.py
  poetry.lock
  pyproject.toml
  src/flext_quality/infrastructure/container.py
  src/flext_quality/infrastructure/di_container.py
  src/flext_quality/infrastructure/persistence/repositories.py
  src/flext_quality/infrastructure/ports.py
  tests/conftest.py
Due: poetry-check, poetry-lock-check

reorg
  analyzer/analysis_engine.py
  analyzer/backends/ast_backend.py
  analyzer/backends/base.py
  analyzer/backends/external_backend.py
  analyzer/health.py
  analyzer/management/commands/populate_backends.py
  analyzer/multi_backend_analyzer.py
  analyzer/package_discovery.py
  analyzer/report_generator.py
  analyzer/views.py
  dashboard/views.py
  poetry.lock
  scripts/manage.py
  src/flext_quality/analyzer.py
  src/flext_quality/application/services.py
  src/flext_quality/cli.py
  tests/conftest.py
  tests/test_flext_quality.py
Due: poetry-lock-check

reorg
  staticfiles/rest_framework/docs/js/highlight.pack.js
Due: none

reorg
  src/flext_quality/__init__.py
  src/flext_quality/__version__.py
  src/flext_quality/analyzer.py
  src/flext_quality/application/handlers.py
  src/flext_quality/application/services.py
  src/flext_quality/domain/entities.py
  src/flext_quality/domain/ports.py
  src/flext_quality/domain/value_objects.py
  src/flext_quality/infrastructure/config.py
  src/flext_quality/infrastructure/container.py
  src/flext_quality/infrastructure/di_container.py
  src/flext_quality/metrics.py
  src/flext_quality/simple_api.py
  tests/conftest.py
  tests/test_analyzer.py
  tests/test_application_services.py
  tests/test_domain_entities.py
  tests/test_flext_quality.py
  tests/test_reports.py
  tests/test_simple_api.py
Due: none

reorg
  src/flext_quality/application/services.py
  src/flext_quality/domain/entities.py
  src/flext_quality/metrics.py
  tests/test_analyzer.py
  tests/test_application_services.py
  tests/test_cli.py
  tests/test_config.py
  tests/test_container.py
  tests/test_di_container.py
  tests/test_domain_entities.py
  tests/test_handlers.py
  tests/test_metrics.py
  tests/test_reports.py
  tests/test_repositories.py
  tests/test_simple_api.py
  tests/test_value_objects.py
  tests/test_version.py
Due: none

reorg
  tests/helpers/__init__.py
  tests/helpers/typing_helpers.py
  tests/test_analyzer_comprehensive.py
  tests/test_analyzer_edge_cases.py
  tests/test_application_services.py
  tests/test_cli.py
  tests/test_cli_comprehensive.py
  tests/test_container.py
  tests/test_flext_quality.py
  tests/test_handlers.py
  tests/test_handlers_integration.py
  tests/test_metrics.py
  tests/test_services_comprehensive.py
  tests/test_services_error_scenarios.py
  tests/test_simple_api.py
Due: none

0.9.0
  .gitignore
  CLAUDE.md
  Makefile
  README.md
  analyzer/health.py
  pyproject.toml
  src/flext_quality/__version__.py
  src/flext_quality/domain/entities.py
  src/flext_quality/exceptions.py
  tests/conftest.py
  tests/test_version.py
Due: poetry-check, poetry-lock-check

0.9.0
  CLAUDE.md
  README.md
  analyzer/__init__.py
  analyzer/admin.py
  analyzer/health.py
  analyzer/management/__init__.py
  analyzer/migrations/__init__.py
  analyzer/models.py
  dashboard/views.py
  poetry.lock
  scripts/manage.py
  src/flext_quality/__init__.py
  src/flext_quality/analyzer.py
  src/flext_quality/application/handlers.py
  src/flext_quality/application/services.py
  src/flext_quality/domain/entities.py
  src/flext_quality/infrastructure/config.py
  src/flext_quality/metrics.py
  tests/conftest.py
  tests/helpers/typing_helpers.py
  tests/test_analyzer.py
  tests/test_analyzer_comprehensive.py
  tests/test_analyzer_edge_cases.py
  tests/test_application_services.py
  tests/test_cli_comprehensive.py
  tests/test_flext_quality.py
  tests/test_handlers.py
  tests/test_handlers_integration.py
  tests/test_reports.py
  tests/test_repositories.py
  tests/test_services_comprehensive.py
  tests/test_services_error_scenarios.py
  tests/test_value_objects.py
  tests/test_version.py
Due: poetry-lock-check

Path conditions:
  poetry-check: any of: ^pyproject\.toml$
  poetry-lock-check: any of: ^(pyproject\.toml|poetry\.lock)$
