Repository flext-sh/flext-quality: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock-check

Path conditions:
  poetry-check: any of: ^pyproject\.toml$
  poetry-lock-check: any of: ^(pyproject\.toml|poetry\.lock)$

refactor(constants): extend FlextConstants (no behavior change)
  Makefile
  README.md
  examples/advanced/cli_integration/example.py
  examples/basic/simple_analysis/example.py
  poetry.lock
  pyproject.toml
  src/flext_quality/analyzer.py
  src/flext_quality/application/handlers.py
  src/flext_quality/application/services.py
  src/flext_quality/backends/external_backend.py
  src/flext_quality/cli.py
  src/flext_quality/constants.py
  src/flext_quality/domain/ports.py
  src/flext_quality/domain/value_objects.py
  src/flext_quality/metrics.py
  src/flext_quality/simple_api.py
  src/flext_quality/web_interface.py
  test_progress.py
Due: poetry-check, poetry-lock-check

feat(typings): add flext_quality.typings facade; refactor imports to use local FlextTypes
  README.md
  examples/basic/simple_analysis/example.py
  examples/integration/api_usage/example.py
  src/flext_quality/__init__.py
  src/flext_quality/analyzer.py
  src/flext_quality/application/handlers.py
  src/flext_quality/application/services.py
  src/flext_quality/backends/ast_backend.py
  src/flext_quality/cli.py
  src/flext_quality/domain/entities.py
  src/flext_quality/domain/value_objects.py
  src/flext_quality/simple_api.py
  src/flext_quality/typings.py
  src/flext_quality/web_interface.py
  test_progress.py
  tests/test_analyzer.py
  tests/test_backends.py
  tests/test_cli.py
  tests/test_cli_comprehensive.py
  tests/test_external_backend_more.py
  tests/test_value_objects.py
  tests/test_web_interface.py
Due: none

style(typings): import FlextTypes at top in simple_api; remove from TYPE_CHECKING
  src/flext_quality/simple_api.py
Due: none

style(typings): import FlextTypes at top; move out of TYPE_CHECKING
  src/flext_quality/simple_api.py
Due: none

chore(flext-quality): ignore coverage.json in test artifacts
  .gitignore
Due: none

style(typings): standardize FlextTypes import at top-level
  src/flext_quality/domain/entities.py
  src/flext_quality/simple_api.py
Due: none

chore(flext-quality): add scripts/README.md stub
  scripts/README.md
Due: none

0.9.0
  poetry.lock
  pyproject.toml
  src/flext_quality/domain/entities.py
  src/flext_quality/simple_api.py
Due: poetry-check, poetry-lock-check

chore(submodule): commit typing standardization in flext-quality
  examples/advanced/cli_integration/example.py
  src/flext_quality/__init__.py
  src/flext_quality/backends/external_backend.py
Due: none

0.9.0
  README.md
  docker/Dockerfile.standalone
  pyproject.toml
  src/flext_quality/analyzer.py
  src/flext_quality/application/handlers.py
  src/flext_quality/application/services.py
  src/flext_quality/backends/external_backend.py
  src/flext_quality/cli.py
  test_progress.py
  tests/__init__.py
  tests/unit/__init__.py
Due: poetry-check, poetry-lock-check

0.9.0
  src/flext_quality/application/handlers.py
  src/flext_quality/backends/external_backend.py
  src/flext_quality/cli.py
  src/flext_quality/domain/entities.py
  tests/conftest.py
  tests/test_analyzer.py
  tests/test_analyzer_comprehensive.py
  tests/test_backends.py
  tests/test_cli.py
  tests/test_cli_functional.py
  tests/test_config.py
  tests/test_exceptions.py
  tests/test_handlers.py
  tests/test_metrics.py
  tests/test_web_interface.py
Due: none

0.9.0
  README.md
  src/flext_quality/application/handlers.py
  src/flext_quality/application/services.py
  src/flext_quality/backends/external_backend.py
  src/flext_quality/cli.py
  src/flext_quality/domain/entities.py
Due: none

0.9.0
  poetry.lock
  src/flext_quality/cli.py
  tests/test_application_services.py
  tests/test_handlers_integration.py
  tests/test_services_comprehensive.py
Due: poetry-lock-check

0.9.0
  src/flext_quality/__init__.py
Due: none

0.9.0
  src/flext_quality/application/services.py
  src/flext_quality/cli.py
  src/flext_quality/infrastructure/config.py
  src/flext_quality/metrics.py
  src/flext_quality/simple_api.py
  tests/__init__.py
  tests/test_application_services.py
  tests/test_flext_quality.py
  tests/test_handlers_integration.py
  tests/test_services_comprehensive.py
Due: none

0.9.0
  src/flext_quality/application/handlers.py
  src/flext_quality/metrics.py
  src/flext_quality/simple_api.py
Due: none

0.9.0
  examples/advanced/cli_integration/example.py
  src/flext_quality/domain/entities.py
  src/flext_quality/domain/value_objects.py
  tests/test_external_backend_more.py
Due: none

0.9.0
  CLAUDE.md
  README.md
  docs/development/README.md
  docs/integration/README.md
  docs/standards/python-module-organization.md
  src/flext_quality/application/README.md
  src/flext_quality/application/handlers.py
  src/flext_quality/application/services.py
  src/flext_quality/cli/README.md
  src/flext_quality/domain/entities.py
  src/flext_quality/infrastructure/README.md
  src/flext_quality/metrics.py
  tests/README.md
  tests/test_handlers.py
  tests/test_handlers_integration.py
Due: none
