Repository flext-sh/flext-quality: changes, and which pre-commit hooks are due for each by the changed paths.
All: poetry-check, poetry-lock-check

poetry-check:
  name: ğŸ“¦ Validate Poetry configuration
  entry: poetry check
  language: system
  pass_filenames: false

poetry-lock-check:
  name: ğŸ”’ Check Poetry lock file
  entry: poetry lock --check
  language: system
  pass_filenames: false

0.9.0
  pyrightconfig.json
  src/flext_quality/config.py
  src/flext_quality/models.py
  src/flext_quality/utilities.py
Due: none

0.9.0
  .serena/memories/code_style_and_conventions.md
  docker/Dockerfile.enterprise
  docker/Dockerfile.fixed
  docker/Dockerfile.simple
  examples/advanced/cli_integration/example.py
  examples/integration/api_usage/example.py
  src/flext_quality/__init__.py
  src/flext_quality/analysis_types.py
  src/flext_quality/analyzer.py
  src/flext_quality/api.py
  src/flext_quality/ast_backend.py
  src/flext_quality/base.py
  src/flext_quality/cli.py
  src/flext_quality/config.py
  src/flext_quality/container.py
  src/flext_quality/entities.py
  src/flext_quality/exceptions.py
  src/flext_quality/external_backend.py
  src/flext_quality/fields.py
  src/flext_quality/handlers.py
  src/flext_quality/metrics.py
  src/flext_quality/models.py
  src/flext_quality/reports.py
  src/flext_quality/services.py
  src/flext_quality/utilities.py
  src/flext_quality/value_objects.py
  src/flext_quality/web.py
  tests/test_analyzer.py
  tests/test_cli.py
  tests/test_exceptions.py
  tests/test_metrics.py
  tests/test_reports.py
  tests/test_version.py
  tests/test_web_interface.py
Due: none

0.9.0
  examples/basic/simple_analysis/example.py
  poetry.lock
  src/flext_quality/analyzer.py
  src/flext_quality/typings.py
  src/flext_quality/web.py
  tests/conftest.py
  tests/test_analyzer.py
  tests/test_analyzer_functional.py
  tests/test_api.py
  tests/test_application_services.py
  tests/test_cli.py
  tests/test_cli_functional.py
  tests/test_domain_entities.py
  tests/test_flext_quality.py
  tests/test_reports.py
  tests/test_services.py
  tests/test_services_functional.py
  tests/test_web_interface.py
Due: poetry-lock-check

0.9.0
  .gitignore
  .serena/.gitignore
  .serena/memories/code_style_and_conventions.md
  .serena/memories/development_commands.md
  .serena/memories/project_overview.md
  .serena/memories/task_completion_workflow.md
  .serena/memories/tech_stack_and_architecture.md
  .serena/project.yml
  Makefile
  examples/basic/simple_analysis/example.py
  pyproject.toml
  src/flext_quality/__main__.py
  src/flext_quality/analysis_types.py
  src/flext_quality/analyzer.py
  src/flext_quality/api.py
  src/flext_quality/ast_backend.py
  src/flext_quality/cli.py
  src/flext_quality/config.py
  src/flext_quality/container.py
  src/flext_quality/entities.py
  src/flext_quality/exceptions.py
  src/flext_quality/external_backend.py
  src/flext_quality/fields.py
  src/flext_quality/handlers.py
  src/flext_quality/metrics.py
  src/flext_quality/models.py
  src/flext_quality/ports.py
  src/flext_quality/reports.py
  src/flext_quality/services.py
  src/flext_quality/typings.py
  src/flext_quality/utilities.py
  src/flext_quality/value_objects.py
  src/flext_quality/web.py
  tests/test_application_services.py
  tests/test_cli.py
  tests/test_services.py
  tests/test_services_functional.py
  tests/test_web_interface.py
Due: poetry-check, poetry-lock-check

0.9.0
  src/flext_quality/__init__.py
  src/flext_quality/__main__.py
  src/flext_quality/analysis_types.py
  src/flext_quality/analyzer.py
  src/flext_quality/ast_backend.py
  src/flext_quality/cli.py
  src/flext_quality/config.py
  src/flext_quality/constants.py
  src/flext_quality/entities.py
  src/flext_quality/exceptions.py
  src/flext_quality/external_backend.py
  src/flext_quality/handlers.py
  src/flext_quality/metrics.py
  src/flext_quality/reports.py
  src/flext_quality/services.py
  src/flext_quality/typings.py
  src/flext_quality/utilities.py
  src/flext_quality/web.py
  tests/test_config.py
Due: none

0.9.0
  src/flext_quality/analyzer.py
  src/flext_quality/external_backend.py
Due: none

0.9.0
  examples/advanced/cli_integration/example.py
  examples/integration/api_usage/example.py
  pyproject.toml
  src/flext_quality/__init__.py
  src/flext_quality/analysis_types.py
  src/flext_quality/analyzer.py
  src/flext_quality/cli.py
  src/flext_quality/constants.py
  src/flext_quality/entities.py
  src/flext_quality/exceptions.py
  src/flext_quality/external_backend.py
  src/flext_quality/models.py
  src/flext_quality/services.py
Due: poetry-check, poetry-lock-check

0.9.0
  examples/advanced/cli_integration/example.py
  examples/integration/api_usage/example.py
  src/flext_quality/__init__.py
  src/flext_quality/analysis_types.py
  src/flext_quality/analyzer.py
  src/flext_quality/api.py
  src/flext_quality/config.py
  src/flext_quality/constants.py
  src/flext_quality/external_backend.py
  src/flext_quality/models.py
Due: none

0.9.0
  src/flext_quality/api.py
Due: none

0.9.0
  Dockerfile
  docker/Dockerfile.enterprise
  docker/Dockerfile.fixed
  docker/Dockerfile.simple
  docker/Dockerfile.standalone
Due: none

0.9.0
  README.md
  TODO.md
  docs/README.md
  docs/quick-start.md
  examples/README.md
  examples/integration/api_usage/example.py
  pyproject.toml
  src/flext_quality/api.py
  src/flext_quality/ast_backend.py
  src/flext_quality/ast_function_info.py
  src/flext_quality/cli.py
  src/flext_quality/handlers.py
  src/flext_quality/services.py
  src/flext_quality/web.py
  tests/conftest.py
  tests/test_analyzer.py
  tests/test_api.py
  tests/test_application_services.py
  tests/test_ast_backend_additional.py
  tests/test_backends.py
  tests/test_handlers.py
  tests/test_services.py
  tests/test_services_error_scenarios.py
  tests/test_services_functional.py
  tests/test_web_interface.py
Due: poetry-check, poetry-lock-check

0.9.0
  examples/integration/api_usage/example.py
  poetry.lock
  pyproject.toml
  src/flext_quality/__init__.py
  src/flext_quality/__version__.py
  src/flext_quality/external_backend.py
  src/flext_quality/models.py
  src/flext_quality/utilities.py
  src/flext_quality/version.py
  tests/__init__.py
  tests/conftest_project.py
  tests/helpers/typing_helpers.py
  tests/test_analyzer.py
  tests/test_analyzer_functional.py
  tests/test_backends.py
  tests/test_cli_functional.py
  tests/test_config.py
  tests/test_domain_entities.py
  tests/test_services_error_scenarios.py
  tests/test_services_functional.py
  tests/test_version.py
Due: poetry-check, poetry-lock-check

0.9.0
  examples/advanced/cli_integration/example.py
  examples/basic/simple_analysis/example.py
  examples/integration/api_usage/example.py
  src/flext_quality/__init__.py
  src/flext_quality/__version__.py
  src/flext_quality/analysis_types.py
  src/flext_quality/analyzer.py
  src/flext_quality/api.py
  src/flext_quality/ast_backend.py
  src/flext_quality/ast_class_info.py
  src/flext_quality/ast_function_info.py
  src/flext_quality/base.py
  src/flext_quality/cli.py
  src/flext_quality/config.py
  src/flext_quality/exceptions.py
  src/flext_quality/external_backend.py
  src/flext_quality/handlers.py
  src/flext_quality/metrics.py
  src/flext_quality/models.py
  src/flext_quality/protocols.py
  src/flext_quality/reports.py
  src/flext_quality/services.py
  src/flext_quality/typings.py
  src/flext_quality/utilities.py
  src/flext_quality/version.py
  src/flext_quality/web.py
  tests/conftest_project.py
  tests/helpers/__init__.py
  tests/helpers/typing_helpers.py
  tests/test_analyzer.py
  tests/test_analyzer_functional.py
  tests/test_api.py
  tests/test_backends.py
  tests/test_di_container.py
  tests/test_metrics.py
  tests/test_reports.py
  tests/test_services.py
  tests/test_services_error_scenarios.py
  tests/test_settings.py
  tests/test_web_interface.py
Due: none

0.9.0
  src/flext_quality/typings.py
Due: none

0.9.0
  README.md
  docs/README.md
  src/flext_quality/analyzer.py
  src/flext_quality/api.py
  src/flext_quality/services.py
  src/flext_quality/typings.py
  src/flext_quality/value_objects.py
Due: none

0.9.0
  src/flext_quality/analyzer.py
  src/flext_quality/api.py
  src/flext_quality/typings.py
  src/flext_quality/version.py
Due: none

feat: add comprehensive cruft patterns to .gitignore
  .gitignore
Due: none

0.9.0
  src/flext_quality/analyzer.py
Due: none

0.9.0
  examples/advanced/cli_integration/example.py
  examples/basic/simple_analysis/example.py
  src/flext_quality/__init__.py
  src/flext_quality/__main__.py
  src/flext_quality/analysis_types.py
  src/flext_quality/analyzer.py
  src/flext_quality/api.py
  src/flext_quality/ast_backend.py
  src/flext_quality/base.py
  src/flext_quality/cli.py
  src/flext_quality/config.py
  src/flext_quality/entities.py
  src/flext_quality/external_backend.py
  src/flext_quality/grade_calculator.py
  src/flext_quality/handlers.py
  src/flext_quality/metrics.py
  src/flext_quality/models.py
  src/flext_quality/protocols.py
  src/flext_quality/reports.py
  src/flext_quality/services.py
  src/flext_quality/tools/__init__.py
  src/flext_quality/tools/architecture.py
  src/flext_quality/tools/dependencies.py
  src/flext_quality/tools/git.py
  src/flext_quality/tools/optimizer_operations.py
  src/flext_quality/tools/quality_operations.py
  src/flext_quality/tools/validation.py
  src/flext_quality/typings.py
  src/flext_quality/version.py
  src/flext_quality/web.py
Due: none

0.9.0
  src/flext_quality/analyzer.py
  src/flext_quality/api.py
  src/flext_quality/cli.py
  src/flext_quality/metrics.py
  src/flext_quality/models.py
  src/flext_quality/protocols.py
  src/flext_quality/reports.py
  src/flext_quality/services.py
  src/flext_quality/tools/quality_operations.py
  src/flext_quality/tools/validation.py
  src/flext_quality/value_objects.py
  src/flext_quality/web.py
Due: none

0.9.0
  src/flext_quality/analyzer.py
  src/flext_quality/api.py
  src/flext_quality/ast_backend.py
  src/flext_quality/cli.py
  src/flext_quality/container.py
  src/flext_quality/entities.py
  src/flext_quality/fields.py
  src/flext_quality/handlers.py
  src/flext_quality/integrations.py
  src/flext_quality/models.py
  src/flext_quality/services.py
  src/flext_quality/tools/architecture.py
  src/flext_quality/tools/dependencies.py
  src/flext_quality/tools/optimizer_operations.py
  src/flext_quality/tools/quality_operations.py
  src/flext_quality/tools/utilities.py
  src/flext_quality/tools/validation.py
  src/flext_quality/utilities.py
  src/flext_quality/value_objects.py
  src/flext_quality/web.py
  tests/unit/tools/test_utilities.py
Due: none

0.9.0
  src/flext_quality/ast_backend.py
  src/flext_quality/external_backend.py
  src/flext_quality/tools/git.py
  src/flext_quality/tools/optimizer_operations.py
  src/flext_quality/tools/quality_operations.py
  tests/test_external_backend.py
Due: none

0.9.0
  src/flext_quality/constants.py
  src/flext_quality/ports.py
  src/flext_quality/tools/optimizer_operations.py
Due: none

0.9.0
  examples/integration/api_usage/example.py
  src/flext_quality/tools/optimizer_operations.py
Due: none

0.9.0
  src/flext_quality/constants.py
  src/flext_quality/models.py
  src/flext_quality/web.py
Due: none

0.9.0
  examples/integration/api_usage/example.py
  poetry.lock
  pyproject.toml
  src/flext_quality/tools/optimizer_operations.py
Due: poetry-check, poetry-lock-check

0.9.0
  tests/conftest_project.py
Due: none

0.9.0
  .gitignore
  src/flext_quality/__init__.py
  src/flext_quality/__version__.py
Due: none

0.9.0
  CLAUDE.md
  README.md
  docs/README.md
  docs/quick-start.md
  src/flext_quality/__init__.py
  src/flext_quality/__version__.py
Due: none

0.9.0
  CLAUDE.md
  README.md
  TODO.md
  docs/README.md
  docs/quick-start.md
Due: none

0.9.0
  .pre-commit-config.yaml
  README.md
  docs/README.md
  docs/architecture/README.md
  docs/architecture/c4-model/README.md
  docs/maintenance/MAINTENANCE_PROCEDURES.md
  docs/maintenance/README.md
  examples/README.md
  tests/README.md
Due: none

0.9.0
  src/flext_quality/__init__.py
  src/flext_quality/analyzer.py
  src/flext_quality/api.py
  src/flext_quality/ast_backend.py
  src/flext_quality/ast_class_info.py
  src/flext_quality/ast_function_info.py
  src/flext_quality/cli.py
  src/flext_quality/entities.py
  src/flext_quality/models.py
Due: none

0.9.0
  src/flext_quality/__init__.py
  src/flext_quality/api.py
  src/flext_quality/handlers.py
  src/flext_quality/models.py
  src/flext_quality/services.py
Due: none

0.9.0
  docs/maintenance/core/base_classes.py
  docs/maintenance/core/config_manager.py
  docs/maintenance/notifications.py
  docs/maintenance/scripts/audit.py
  docs/maintenance/scripts/report.py
  docs/maintenance/tools/content_analyzer.py
  docs/maintenance/tools/style_validator.py
  pyproject.toml
  src/flext_quality/__init__.py
  src/flext_quality/entities.py
  src/flext_quality/metrics.py
  src/flext_quality/models.py
Due: poetry-check, poetry-lock-check

0.9.0
  docs/maintenance/dashboard.py
  docs/maintenance/scheduled_maintenance.py
  docs/maintenance/scripts/audit.py
  docs/maintenance/scripts/optimize.py
  docs/maintenance/scripts/report.py
  docs/maintenance/scripts/validate.py
  docs/maintenance/tools/content_analyzer.py
  docs/maintenance/tools/link_checker.py
  examples/advanced/cli_integration/example.py
  poetry.lock
  src/flext_quality/api.py
  src/flext_quality/ast_backend.py
  src/flext_quality/cli.py
  src/flext_quality/exceptions.py
  src/flext_quality/external_backend.py
  src/flext_quality/integrations.py
  src/flext_quality/metrics.py
  src/flext_quality/models.py
  src/flext_quality/protocols.py
  src/flext_quality/services.py
  src/flext_quality/tools/quality_operations.py
  src/flext_quality/value_objects.py
  src/flext_quality/version.py
  src/flext_quality/web.py
  tests/helpers/typing_helpers.py
  tests/test_analyzer_functional.py
  tests/test_services_error_scenarios.py
  tests/unit/test_analyzer.py
  tests/unit/test_reports.py
Due: poetry-lock-check

Path conditions:
  poetry-check: any of: ^pyproject\.toml$
  poetry-lock-check: any of: ^(pyproject\.toml|poetry\.lock)$
